# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Lab 2/Lerbyn/target/
/Lab 2/mockup v2/target/
/Lab 2/lab2 Matteus/target/
/Lab 2/login/target/
/Lab 1/FlashIsDead/target/

/Lab 2/mockup-snake/target/
/Lab 2/com.dat076_web-communication_war_1.0-SNAPSHOT/target/



#connection string/file to database

application-firebase-admin.json
/Lab 3/Assignment3/target/
/Lab_3/Assignment3/target/
/Lab_3/lab3/target/

*.pyc

/Derby/

Lab 2/lab2 Matteus/.classpath
Lab 2/lab2 Matteus/.project
Lab 2/lab2 Matteus/.settings/org.eclipse.core.resources.prefs
Lab 2/lab2 Matteus/.settings/org.eclipse.jdt.apt.core.prefs
Lab 2/lab2 Matteus/.settings/org.eclipse.jdt.core.prefs
Lab 2/lab2 Matteus/.vscode/settings.json

/Lab_4/GameSite/target/

./Project/target
/Project/target/maven-archiver/pom.properties
/Project/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/Project/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/Project/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/Project/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/Project/target/Project-1.0-SNAPSHOT/js/matchstick_script.js
/Project/target/surefire-reports/com.lab3.model.dao.CommentDAOTest.txt
/Project/target/surefire-reports/com.lab3.model.dao.GameDAOTest.txt
/Project/target/surefire-reports/com.lab3.model.dao.HighScoreDAOTest.txt
/Project/target/surefire-reports/com.lab3.model.dao.RatingDAOTest.txt
/Project/target/surefire-reports/com.lab3.model.dao.UserAccountDAOTest.txt
/Project/target/surefire-reports/TEST-com.lab3.model.dao.CommentDAOTest.xml
/Project/target/surefire-reports/TEST-com.lab3.model.dao.GameDAOTest.xml
/Project/target/surefire-reports/TEST-com.lab3.model.dao.HighScoreDAOTest.xml
/Project/target/surefire-reports/TEST-com.lab3.model.dao.RatingDAOTest.xml
/Project/target/surefire-reports/TEST-com.lab3.model.dao.UserAccountDAOTest.xml
Project/target/maven-archiver/pom.properties
Project/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Project/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Project/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
Project/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Project/target/Project-1.0-SNAPSHOT/js/matchstick_script.js
Project/target/surefire-reports/com.lab3.model.dao.CommentDAOTest.txt
Project/target/surefire-reports/com.lab3.model.dao.GameDAOTest.txt
Project/target/surefire-reports/com.lab3.model.dao.HighScoreDAOTest.txt
Project/target/surefire-reports/com.lab3.model.dao.RatingDAOTest.txt
Project/target/surefire-reports/com.lab3.model.dao.UserAccountDAOTest.txt
Project/target/surefire-reports/TEST-com.lab3.model.dao.CommentDAOTest.xml
Project/target/surefire-reports/TEST-com.lab3.model.dao.GameDAOTest.xml
Project/target/surefire-reports/TEST-com.lab3.model.dao.HighScoreDAOTest.xml
Project/target/surefire-reports/TEST-com.lab3.model.dao.RatingDAOTest.xml
