# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Lab 2/Lerbyn/target/
/Lab 2/mockup v2/target/
/Lab 2/lab2 Matteus/target/
/Lab 2/login/target/
/Lab 1/FlashIsDead/target/

/Lab 2/mockup-snake/target/
/Lab 2/com.dat076_web-communication_war_1.0-SNAPSHOT/target/



#connection string/file to database

application-firebase-admin.json
/Lab 3/Assignment3/target/
/Lab_3/Assignment3/target/
/Lab_3/lab3/target/

*.pyc

/Derby/

Lab 2/lab2 Matteus/.classpath
Lab 2/lab2 Matteus/.project
Lab 2/lab2 Matteus/.settings/org.eclipse.core.resources.prefs
Lab 2/lab2 Matteus/.settings/org.eclipse.jdt.apt.core.prefs
Lab 2/lab2 Matteus/.settings/org.eclipse.jdt.core.prefs
Lab 2/lab2 Matteus/.vscode/settings.json

/Lab_4/GameSite/target/
/package-lock.json

