/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 jan. 2021, 13:23:47
    Author     : Wille
*/

/*
input[type=radio]
{
    display:none;
};*/

div{
    border: 1px solid #000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*input[type="number"] {
    -moz-appearance: textfield;
}*/

#question, #equation{
    font-size: 150px;
}


.blink{
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}

@keyframes blink{
    0% {background-color: green;}
    100% {background-color: none;}
}

#game-canvas{
    background-color: red;
}