/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 jan. 2021, 21:13:19
    Author     : Matteus
*/
@charset "UTF-8";

@keyframes test{
  0%   {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

body {
  font-family: 'Martel', serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  color: #2B394A;
}

.button .btn .btn-primary{
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: #EA5147;
  color: #EA5147;
}


.box{
    width: 100px;
    height: 100px;

    animation-name: test;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: paused;
}

.bg-prim .btn-primary{
  background-color: #EA5147;
  color: #EA5147;
}

/*Used for tooltips on create account page*/
body .ui-message.ui-message-error, body .ui-message.ui-message-fatal {
    visibility: visible;
}

/*Used for tooltips on create account page*/
body .ui-tooltip .ui-tooltip-text {
  visibility: hidden;
}

/*Used for tooltips on create account page*/
.ui-tooltip-arrow {
  visibility: hidden;
}
