{% extends "gamesite/base.html" %}
{% load crispy_forms_tags %}
<title>Register</title>
{% block content %}
    <div class="col-8 register mt-5 mb-2">
        <form method="POST">
            {% csrf_token %}
            <h1 id="register-title" class="text-center mt-2">title</h1>
            {{ form|crispy }}
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
            <div class="col-12 button-no-padding">
                <button class="button btn" id="register-button" type="submit">Create Account</button>
            </div>
        </form>
    </div>
{% endblock content %}


